@import "../../sass/mixins";
@import "../../sass/variables";
.content-container {
    width: 100%;
    background-color: $soft-white;
}

.nav {
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
}

.about-wrapper {
    background-color: $dusty-beige;
}

.experience-wrapper {
    background-color: $soft-white;
}

.work-wrapper {
    background-color: $light-black;
}

.contact-wrapper {
    background-color: $dusty-beige;
}