<div class="header-container">
    <div class="title-content">
        <div class="circle-unfixed" id="circle"></div>
        <div class="title">
            <h1 class="name">maya prebish&nbsp;</h1>
            <h1 class="tagline">// web & software developer in training</h1>

            <h1 class="firstname-mobile">maya&nbsp;</h1>
            <h1 class="lastname-mobile">prebish</h1>
        </div>
    </div>

    <div class="about-container">
        <div class="about-content">
            <p>
                Hello! My name is Maya and I'm a 21-year-old student from upstate New York living in Boston, Massachusetts. I am a third-year undergraduate at Northeastern University pursuing my bachelor's in computer science, and my topics of interest are web development
                and software engineering. Scroll to learn more about me:
            </p>
        </div>
    </div>
</div>