<div class="header-container">
    <div class="title-content">
        <div class="circle-unfixed" id="circle"></div>
        <div class="title">
            <h1 class="name">maya prebish&nbsp;</h1>
            <h1 class="tagline">// web & software developer in training</h1>

            <h1 class="firstname-mobile">maya&nbsp;</h1>
            <h1 class="lastname-mobile">prebish</h1>
        </div>
    </div>

    <div class="about-container">
        <div class="about-content">
            <p>
                hello! my name is maya and i'm a 20-year-old student from upstate new york living in boston, massachusetts. i am a rising third-year at northeastern university pursuing my bachelor's in computer science, and my topics of interest are web development and
                software engineering. scroll to learn more about me: (work in progress!)
                <!-- <i>( this site is a work in progress! to check out some of my older work, please take a look at my <a target="_blank" href="http://mayaprebish.github.io/portfolio2019">2019 portfolio</a>! )</i> -->
            </p>
        </div>
    </div>
</div>