@import "../../sass/mixins";
@import "../../sass/variables";
.project-card {
    margin: 0 2vw 5vh;
    width: 28vw;
    height: 90vh;
    background-color: $soft-white;
    display: block;
    box-shadow: 5px 5px 10px black;
    .link {
        color: $light-black;
        opacity: 0%;
        position: relative;
        z-index: 1;
        top: -25%;
        display: flex;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        text-decoration: underline;
    }
    &:hover {
        // box-shadow: 7px 7px 14px black;
        // transform: translateY(-3px);
        .project-image {
            opacity: 30%;
            transition: ease-in 200ms;
        }
        .link {
            opacity: 100%;
            transition: ease-in 200ms;
            cursor: pointer;
        }
    }
    transition: ease-in 200ms;
    .project-description {
        height: fit-content;
        width: 80%;
        margin: 32px;
        padding-bottom: 32px;
        h3 {
            font-family: 'Montserrat', sans-serif;
        }
    }
    .project-image {
        width: 100%;
        height: 40vh;
        background-size: cover;
    }
}

@media screen and (max-width: $break-med) {
    .project-card {
        width: 90vw;
        margin: 0;
        margin-bottom: 5vh;
    }
}