<div class="project-card">
    <div class="project-image" (click)=openDetails(details) style="background-image: url({{cardDetails.imgUrl}});">
    </div>
    <div class="link" (click)=openDetails(details)>{{cardDetails.linkText}}&nbsp;&#x2197;</div>
    <div class="project-description">
        <h3>{{cardDetails.title}}</h3>
        <p><i>{{cardDetails.tools}}&nbsp;</i></p>
        <p>{{cardDetails.description}}</p>
    </div>
</div>

<ng-template #details let-modal>
    <div class="modal-header">
        <h4 class="modal-title" style="font-family: 'Montserrat', sans-serif">{{cardDetails.title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="outline: none">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="font-family: 'Open Sans', sans-serif">
        <p>Hi! My site's still a work in progress! The details for this project will be here soon. For now, please feel free check out these and other older projects on my
            <a href="https://mayaprebish.github.io/portfolio2019" target="_blank">2019 portfolio!</a>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>