<div class="about">
    <div class="about-container">
        <div class="about-text">
            <p>
                <b>about me: </b>i love to write beautiful code. programming gives me everything i need: problems to solve, a place to show my voice, and a way to work alongside other passionate people to make the world a better place.
            </p>
            <br/>
            <p>
                <b>my skills: </b>between school projects and co-op experience, i've worked with several front-end technologies (HTML/CSS, LESS & SASS, Javascript, jQuery, Angular 2+, React) as well as back-end and scripting languages (C#, Java, and Python).
            </p>
            <br/>
            <p>
                <b>my priorities: </b>writing clean, efficient and readable code; learning from my peers; seeking out environments where i can grow; staying curious always.
            </p>
        </div>
        <div class="wrapper skills-wrapper">
            <div class="skills-chart" [class.in-view]="inView" #skillsChart>
                <ul class="skills">
                    <li class="relative">
                        <span>HTML / CSS</span>
                    </li>
                    <li class="relative">
                        <span>Javascript / Typescript</span>
                    </li>
                    <li class="relative">
                        <span>C#</span>
                    </li>
                    <li class="relative">
                        <span>Java</span>
                    </li>
                    <li class="relative">
                        <span>Python</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="wrapper priorities-wrapper">
            <h2>my priorities</h2>

        </div>
        <div class="wrapper strengths-wrapper">
            <h2>my strengths</h2>
        </div> -->
    </div>
</div>