<div class="about">
    <div class="about-container">
        <div class="wrapper priorities-wrapper">
            <h1>my priorities</h1>

        </div>
        <div class="wrapper strengths-wrapper">
            <h1>my strengths</h1>

        </div>
        <div class="wrapper skills-wrapper">
            <!-- <h1>my skills</h1> -->
            <div class="skills-chart" [class.in-view]="inView" #skillsChart>
                <ul class="skills">
                    <li class="relative">
                        <span>HTML / CSS</span>
                    </li>
                    <li class="relative">
                        <span>Javascript / Typescript</span>
                    </li>
                    <li class="relative">
                        <span>C#</span>
                    </li>
                    <li class="relative">
                        <span>Java</span>
                    </li>
                    <li class="relative">
                        <span>Python</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>