@import "../../sass/mixins";
@import "../../sass/variables";
.about {
    height: 100vh;
    margin: 0;
    color: $light-black;
    background-color: $dusty-beige;
}

.circle-wrapper {
    margin-top: 12vh;
}

.about-circle {
    background-image: url('../../assets/about_me_both.png');
    background-size: 450px;
    width: 450px;
    height: 450px;
    position: absolute;
    left: 6%;
}