@import "../../sass/mixins";
@import "../../sass/variables";
.about {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding-top: 10vh;
}

.skills-chart {
    width: 95%;
    max-width: 500px;
    ul {
        list-style: none;
    }
    .relative {
        position: relative;
    }
    .skills {
        li::before,
        li::after {
            content: "";
            position: absolute;
            top: 25%;
            left: $skills-width;
            height: 50%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        li::after {
            width: calc(100% - 120px);
            background: $light-gray;
        }
        li::before {
            width: 0;
            background: $soft-white;
            transition: width 0.65s ease-out;
            z-index: 3;
        }
        span {
            display: inline-block;
            width: $skills-width;
            padding: 15px;
        }
    }
    &.in-view {
        .skills {
            li:nth-child(1)::before {
                width: calc(100% - 120px);
                transition-delay: 0.3s;
            }
            li:nth-child(2)::before {
                width: calc(90% - 120px);
                transition-delay: 0.6s;
            }
            li:nth-child(3)::before {
                width: calc(80% - 120px);
                transition-delay: 0.9s;
            }
            li:nth-child(4)::before {
                width: calc(70% - 120px);
                transition-delay: 1.2s;
            }
            li:nth-child(5)::before {
                width: calc(50% - 120px);
                transition-delay: 1.5s;
            }
        }
    }
}

.horizontal-divider {
    width: 5px;
    height: 100vh;
    background-color: $soft-white;
}

.title {
    display: flex;
    position: absolute;
    left: 35vw;
    h1 {
        margin: 0;
        padding: 0;
    }
}

.about-container {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    color: $soft-white;
    .about-text {
        margin: 5vw;
        p {
            text-align: justify;
            margin: 0;
            width: 40vw;
        }
    }
}