@import "../../sass/mixins";
@import "../../sass/variables";
.experience {
    width: 100vw;
    height: auto;
    margin: 0;
}

.divider {
    width: 100vw;
    position: absolute;
    z-index: 0;
    left: 50vw;
    .divider-line {
        width: 2px;
        height: 320vh;
        background-color: $light-black;
    }
}

.experience-sample {
    display: flex;
    justify-content: center;
    margin: 5vh;
    position: relative;
    z-index: 1;
    .experience-img {
        width: 60vw;
        border: 2px solid $light-black;
        border-radius: 5px;
    }
}

.exp-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.exp-content {
    width: 100%;
    color: $light-black;
    text-align: center;
    width: 40vw;
    margin: 5vh 5vw;
    position: relative;
    p {
        margin: 0;
    }
}


/** mobile **/

@media screen and (max-width: $break-med) {
    .experience-sample {
        justify-content: center;
        margin: 5vh;
        position: relative;
        z-index: 1;
        .experience-img {
            width: 90vw;
            border: 5px solid $light-black;
        }
    }
}

@media screen and (max-width: $break-small) {}

@media screen and (max-width: $break-large) {}