<div class="experience">
    <div class="exp-container">
        <div class="exp-content">

            <h2>work experience</h2>
            <p>
                i spent january - june 2020 as a front-end development co-op at
                <a href="https://www.blueport.com" target="_blank">
                Blueport Commerce</a> in boston, ma. the following are some samples of my work:
            </p>
        </div>
    </div>
    <div class="experience-sample">
        <img class="experience-img" src="../../assets/asf-icons-sample.PNG" alt="image">
        <div class="exp-text exp-one-text">
            <h3>01. front-end</h3>
            <p><i>HTML, SASS, Angular 9</i></p>
            <p>implemented a new product title including icons and callouts based on information from product database</p>
        </div>
    </div>

    <div class="experience-sample">
        <div class="experience-img">
            <img src="../../assets/phone-number-sample.png" alt="image">
        </div>
        <div class="exp-text exp-two-text">
            <h3>02. front-end</h3>
            <p><i>Angular 9</i></p>
            <p>implemented a pipe function to format phone numbers on delivery page and throughout checkout</p>
        </div>
    </div>

    <div class="experience-sample">
        <div class="experience-img">
            <img src="../../assets/delivery-options-sample.png" alt="image">
            <img src="../../assets/delivery-info-sample.png" alt="image">
            <img src="../../assets/pick-up-info-sample.png" alt="image">
        </div>
        <div class="exp-text exp-three-text">
            <h3>03. front-end</h3>
            <p><i>Angular 9</i></p>
            <p>created a responsive header to reflect delivery choices in previous section of checkout</p>
        </div>
    </div>
    <div class="experience-sample">
        <div class="experience-img">
            <img src="../../assets/reset_password_sample.png" alt="image">
        </div>
        <div class="exp-text exp-three-text">
            <h3>04. front-end</h3>
            <p><i>CSHTML</i></p>
            <p>wrote a new 'reset password' page from mockup</p>
        </div>
    </div>

    <!-- <div class="exp-container">
        <div class="exp-content">
            <h1>work experience</h1>
            <p>
                i spent january - june 2020 as a front-end development co-op at Blueport Commerce in boston, ma. the following are some samples of my work:
            </p>
        </div>
    </div>
    <div class="background-shape exp-bg-one">
        <div class="exp-text exp-one-text">
            <h3>01. front-end</h3>
            <p><i>HTML, SASS, Angular 9</i></p>
            <p>implemented a new product title including icons and callouts based on information from product database</p>
        </div>
    </div>
    <div class="exp-sample exp-sample-one">
        <img class="exp-img exp-img-one" src="../../assets/asf-icons-sample.PNG" alt="image">
    </div>

    <div class="background-shape exp-bg-two">
        <div class="exp-text exp-two-text">
            <h3>02. front-end</h3>
            <p><i>Angular 9</i></p>
            <p>implemented a pipe function to format phone numbers on delivery page and throughout checkout</p>
        </div>
    </div>
    <div class="exp-sample exp-sample-two">
        <img class="exp-img exp-img-two" src="../../assets/asf-icons-sample.PNG" alt="image">
    </div>

    <div class="background-shape exp-bg-three">
        <div class="exp-text exp-three-text">
            <h3>03. front-end</h3>
            <p><i>Angular 9</i></p>
            <p>created a responsive header to reflect delivery choices in previous section of checkout</p>
        </div>
    </div>
    <div class="exp-sample exp-sample-three">
        <img class="exp-img exp-img-three" src="../../assets/asf-icons-sample.PNG" alt="image">
    </div> -->
</div>