@import "../../sass/mixins";
@import "../../sass/variables";
.experience {
    height: 100vh;
    margin: 0;
}

.circle-wrapper {
    margin-top: 12vh;
}

.experience-circle {
    background-image: url('../../assets/experience_black_both.png');
    background-size: 450px;
    width: 450px;
    height: 450px;
    position: absolute;
    right: 6%;
}