<div class="experience">
    <div class="exp-container">
        <div class="exp-content">

            <h2>work experience</h2>
            <p>
                i spent january - june 2020 as a front-end development co-op at
                <a href="https://www.blueport.com" target="_blank">
                Blueport Commerce</a> in boston, ma. the following are some samples of my work:
            </p>
        </div>
    </div>
    <div class="experience-sample">
        <div class="experience-img">
            <img src="../../assets/asf-icons-sample.PNG" alt="image">
        </div>
        <div class="exp-text">
            <h3>01. front-end</h3>
            <p><i>HTML, SASS, Angular 9</i></p>
            <p>implemented a new product title including icons and callouts based on information from product database</p>
        </div>
    </div>
    <hr/>
    <div class="experience-sample">
        <div class="experience-img">
            <img src="../../assets/phone-number-sample.png" alt="image">
        </div>
        <div class="exp-text">
            <h3>02. front-end</h3>
            <p><i>Angular 9</i></p>
            <p>implemented a pipe function to format phone numbers on delivery page and throughout checkout</p>
        </div>
    </div>

    <hr/>
    <div class="experience-sample">
        <div class="experience-img">
            <img src="../../assets/delivery-options-sample.png" alt="image">
            <img src="../../assets/delivery-info-sample.png" alt="image">
            <img src="../../assets/pick-up-info-sample.png" alt="image">
        </div>
        <div class="exp-text">
            <h3>03. front-end</h3>
            <p><i>Angular 9</i></p>
            <p>created a responsive header to reflect delivery choices in previous section of checkout</p>
        </div>
    </div>


    <hr/>
    <div class="experience-sample">
        <div class="experience-img">
            <img src="../../assets/reset_password_sample.png" alt="image">
        </div>
        <div class="exp-text">
            <h3>04. front-end</h3>
            <p><i>CSHTML</i></p>
            <p>wrote a 'reset password' page from UI mockup</p>
        </div>
    </div>


    <hr/>
    <div class="experience-sample">
        <div class="exp-text">
            <h3>05. back-end</h3>
            <p><i>C#</i></p>
            <p>wrote microservices endpoints and unit/integration tests using documentation from architecture team</p>
        </div>
        <hr/>
        <div class="exp-text">
            <h3>06. back-end / database</h3>
            <p><i>TOAD Edge / SQL</i></p>
            <p>wrote migration scripts for mock/test data</p>
        </div>
        <hr/>
        <div class="exp-text">
            <h3>05. back-end / front-end</h3>
            <p><i>C# / HTML & CSS / jQuery</i></p>
            <p>on a team of 3 other co-ops, planned and implemented a tool which compares configuration files for different versions of client sites (i.e. staging vs. production). my role was to create UI layouts using HTML and CSS, and write jQuery functions
                to access data from back-end services.</p>
        </div>
    </div>
</div>