@import "../../sass/mixins";
@import "../../sass/variables";
.contact {
    height: 100vh;
    margin: 0;
    color: $light-black;
    background-color: $dusty-beige;
}

.circle-wrapper {
    margin-top: 12vh;
}

.contact-circle {
    background-image: url('../../assets/contact_white_both.png');
    background-size: 400px;
    width: 400px;
    height: 400px;
    position: absolute;
    right: 9%;
}