<div class="contact">
    <div class="circle-wrapper">
        <div class="contact-circle" [ngStyle]="rotationCss"></div>
    </div>
    <div class="contact-info">
        <h2>
            <a href="mailto: prebish.m@northeastern.edu">prebish.m@northeastern.edu</a>
        </h2>

        <h2>
            <a href="https://docs.google.com/document/d/1NQcSp1peqMEnJ2zk0xbswHT1uhnCitKlUpvXvwyN304/edit?usp=sharing" target="_blank">Resume (Google Drive)&nbsp;&#x2197;</a></h2>
        <h2><a href="https://calendly.com/mayaprebish" target="_blank">Calendly&nbsp;&#x2197;</a></h2>
        <h2><a href="https://www.linkedin.com/in/maya-prebish/" target="_blank">LinkedIn&nbsp;&#x2197;</a></h2>
    </div>

    <!-- <div class="resume-wrapper">
        <iframe class="resume" width="100%" height="100%" src="https://docs.google.com/document/d/e/2PACX-1vTVV3Qoayv2iitlVwV3QAGSsO4c6h2_2N0ezCHFG1GkQ2UopkaX_l4VfI5eXmHkIKLaW7R7A5Vt1Bvp/pub?embedded=true"></iframe>
    </div> -->
</div>