    @import "../../sass/mixins";
    @import "../../sass/variables";
    .sticky {
        position: fixed;
        top: 0;
        overflow: hidden;
        z-index: 10;
        width: 100vw;
    }
    
    .invisible {
        display: none;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $light-black;
        display: flex;
        justify-content: center;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: $soft-white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: lighter;
    }
    /* Change the link color to #111 (black) on hover */
    
    li a:hover {
        background-color: $light-gray;
        transition: 0.3s;
    }
    
    @media screen and (max-width: $break-med) {
        li a {
            font-size: 0.8em;
        }
    }
    
    @media screen and (max-width: $break-large) {}