<div class="work">
    <div class="work-container">
        <div class="work-content">
            <!-- <h2>personal / academic projects</h2> -->
            <h3>this section is a work in progress! to see some of my old work, please check out my
                <a href="https://mayaprebish.github.io/portfolio2019" target="_blank">2019 portfolio.</a></h3>
            <p>view the github repository for this Angular site
                <a href="https://github.com/mayaprebish/mayaprebish.github.io" target="_blank">here.</a>
            </p>
        </div>
    </div>
</div>