    @import "../../sass/mixins";
    @import "../../sass/variables";
    .work {
        width: 100vw;
        height: auto;
        margin: 0;
        color: $light-black;
    }
    
    app-card {
        margin: 0 2vw 2vh 5vw;
    }
    
    .work-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100vw;
    }
    
    .work-content {
        width: 100vw;
        display: flex;
        justify-content: center;
        color: $soft-white;
        text-align: center;
        position: relative;
        margin: 5vh 0 0 0;
        h2 {
            font-family: 'Montserrat', sans-serif;
        }
        p {
            margin: 0;
        }
    }
    
    ul {
        width: 100vw;
        text-align: center;
        display: flex;
        justify-content: center;
        color: $soft-white;
        padding: 0;
        align-items: center;
        margin: 5vh 0 10vh 0;
        li {
            margin: 0 2vw 0 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            width: 8vw;
            height: 5vh;
            border: 1px solid $soft-white;
            border-radius: 4px;
            &:hover {
                background-color: $soft-white;
                color: $light-black;
                cursor: pointer;
            }
            transition: ease-in 0.2s;
        }
    }
    
    @media screen and (max-width: $break-small) {
        .work-container {
            justify-content: center;
        }
        .work-content {
            margin: 0;
            display: block;
        }
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                margin: 0 2vw 1vh 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                width: 40vw;
                height: 7vh;
            }
        }
    }
    
    // }
    // @media screen and (max-width: $break-small) {}
    @media screen and (max-width: $break-large) {}