@import "../sass/mixins";
@import "../sass/variables";

/** desktop **/

.app-container {
    background-color: $soft-white;
    margin: 0;
     :before {
        content: '';
        float: left;
        height: 100%;
        width: 100vw;
    }
}

.app-header {
    width: 100%;
}

@media screen and (min-width: $break-large) {}


/** mobile **/

@media screen and (min-width: $break-small) {}